<h1>HI </h1>

<center><a href='/'><h3>Зависимость от длины волны</h3></a><a href='/angle'><h3>Зависимость от угла</h3></a></center>
<p><form method="POST" class='general'>

<!-- General form -->
{{form.hidden_tag()}}
   	<p>
   <b> {{ form.n0.label }} </b>
   <p>{{ form.n0(size=20) }}<p>
   	  <b>{{ form.n_last.label }}:</b><p>{{ form.n_last(size=20) }}
    <p> <b>Polarazation:</b><p>
    	{{ form.polarization }}
    <p>
    	Choose what plot: <p>
    {{ form.y_label }}

<!-- General end -->

<!-- Angle form -->

{% for field in angle_form if field.widget.input_type != 'hidden' %}
   <b> {{ field.label }}</b>
    {{ field }} <p>
{% endfor %}

<!-- Angle end -->

<!-- Layer form -->

{% for form_lay in layer_form %}
{{ form_lay.hidden_tag() }}

<h3>Layer {{loop.index}}</h3> <p>
<b>{{form_lay.n.label}}:</b> &#8195;{{form_lay.n}} &#8195;
<b>{{form_lay.k.label}}:</b> &#8195;{{form_lay.k}}
<b>{{form_lay.d.label}}:</b>&#8195;{{form_lay.d}} <p><p>
	
{% endfor %}
<!-- Layer end -->

<input id="submit" name="submit" type="submit" >

</form>