{% extends "header.html" %}
{% block content %}

<script>
        function get_refractive(destElem, index) {
            wavelength = $('#ang_wv').val()
            material = $('#layers_form-'+index+'-material').val()
            get_query = '/refraction_for_material/' + material + '?wv=' + wavelength
            $.get(get_query).done(function(response) {
                q = $.parseJSON(response)
                $(destElem+index+'-n').val(q.n)
                $(destElem+index+'-k').val(q.k)
                $(destElem+index).text(`Заполнено для ${material} на длине волны ${wavelength} нм`)

            }).fail(function() {
                $(destElem+index+'-n').val('1')
                $(destElem+index+'-k').val('0')
                $(destElem+index+'-d').val('0')
                $(destElem+index).text('Пустой слой, данные отсутствуют')
            });
        }

        function fill_all_refractive(destElem) {
            q = {{ layer_form|length }}
            for (var i = 0; i < q; i++) {
                material = []
                get_refractive(destElem, i)
            }
        }


    </script>
<p><form method="POST" class='general' action="{{ url_for('plotting') }}">
<!-- General form -->
{{form.hidden_tag()}}
   	<p>
   <b> {{ form.n0.label }} </b>
   <p>{{ form.n0(size=20) }}<p>
   	  <b>{{ form.n_last.label }}:</b> <p>{{ form.n_last(size=20) }} <i> (one or several, example: "1.5" or "1.5, 1.6, 1.7)</i>
    <p> <b>Polarazation:</b><p>
    	{{ form.polarization }}
    <p>
    	Choose what plot: <p>
    {{ form.y_label }}

<!-- General end -->

<!-- Angle form -->

{% for field in angle_form if field.widget.input_type != 'hidden' %}
   <b> {{ field.label }}:</b> &#8195;
    {{ field }} <p>
     
{% endfor %}

<!-- Angle end -->

<!-- Layer form -->

{% for form_lay in layer_form %}
{{ form_lay.hidden_tag() }}

<h3>Layer {{loop.index}}</h3> <p>
<b>{{form_lay.n.label}}:</b> &#8195;{{form_lay.n}} &#8195;
<b>{{form_lay.k.label}}:</b> &#8195;{{form_lay.k}} &#8195;
<b>{{form_lay.d.label}}:</b>&#8195;{{form_lay.d}} <i> (one or several)</i> <p><p>

    <select id="layers_form-{{ loop.index-1 }}-material" name="layers_form-0-material"><option value="empty">Empty</option><option value="Ag">Ag</option><option selected="" value="Zn">Zn</option><option value="Chr">Chr</option><option value="Al">Al</option><option value="Al2O3">Al2O3</option><option value="Al2O3_1984">Al2O3 (1984)</option><option value="Au">Au</option><option value="ZnO">ZnO</option><option value="MgF2">MgF2</option><option value="SiO">SiO</option><option value="Au_44nm">Au_44nm</option></select>
	 <a href="javascript:get_refractive('#layers_form-', {{ loop.index-1 }});">Заполнить для материала</a> <i style="size: 8px;" id="layers_form-{{ loop.index-1 }}"></i>
{% endfor %}
<!-- Layer end -->
    <!--<a href="javascript:fill_all_refractive('#layers_form-');">Заполнить всё сразу для материала</a>-->
<p>
  <button type="submit" class="button" formaction="{{ url_for('plotting') }}">Send</button>
</form>



<p><b>Другое количество слоёв:</b> <a href="{{ url_for('angle', number_layers=3) }}">3 слоя</a>, <a href="{{ url_for('angle', number_layers=4) }}">4 слоя</a>,
    <a href="{{ url_for('angle', number_layers=5) }}">5 слоёв</a>, <a href="{{ url_for('angle', number_layers=6) }}">6 слоёв</a></p>.






{% endblock %}