{% extends "header.html" %}
{% block content %}


  <form method="POST" class='general' action="{{ url_for('plotting') }}">

<!-- General form -->
{{form.hidden_tag()}}
   	<p>
   <b> {{ form.n0.label }} </b>
   <p>{{ form.n0(size=20) }}<p>
   	  <b>{{ form.n_last.label }}:</b><p>{{ form.n_last(size=20) }} <i> (one or several)</i>
    <p> <b>Polarazation:</b><p>
    	{{ form.polarization }}
    <p>
    	Choose what plot: <p>
    {{ form.y_label }}

<!-- Wavelength form -->

<b>{{wv_form.angle.label}}:</b> &#8195; {{wv_form.angle}} <i> (one or several)</i>

<!-- Layer form -->
<p>
{% for form_lay in layer_form %}
{{ form_lay.hidden_tag() }}

<h3>Layer {{loop.index}}</h3> <p>
<b>{{form_lay.material.label}}:</b> &#8195;{{form_lay.material}}  &#8195;
<b>{{form_lay.d.label}}:</b>&#8195;{{form_lay.d}} <i> (one or several)</i><p>

{% endfor %}

  <button type="submit" class="button" formaction="{{ url_for('plotting') }}">Send (old version)</button>
  <button type="submit" class="button" formaction="{{ url_for('plot_new') }}">Send 2(New)</button>

</form>

<p><b>Другое количество слоёв:</b>
    <a href="{{ url_for('wavelength', number_layers=3) }}">3 слоя</a>,
    <a href="{{ url_for('wavelength', number_layers=4) }}">4 слоя</a>,
    <a href="{{ url_for('wavelength', number_layers=5) }}">5 слоёв</a>,
    <a href="{{ url_for('wavelength', number_layers=6) }}">6 слоёв</a></p>.


{% endblock %}
